
body {
    font-family: var (--font-sans);
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);

}

h1 {
    font-family: "futura-pt-bold", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h2 {
    font-family: "futura-pt-bold", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h3{

}

h4{

}

h5{

}

h6 {

}

p { 
    line-height: var (--line-height);
}

a {

    line-height: var(--line-height);
    color: var(--color-dark);
    text-decoration: none;
    &:hover {
        color: var (--color-accent);
    }
}

li {
    line-height: var (--line-height);
}