.header {
    display: grid;
    background-color: var(--color-dark);
    position: fixed; 
    width: 100%;
    // height: 100px;
    z-index: 999;
   
   padding: 0 var(--gap-l);
   margin: 2rem;

    &__inner {
        display: flex;
        justify-content: space-between; 
       align-items: center; 
       width: 100%;

    } 

    
    &__logo {
        
        
        
        
     
        
    }
}