@use '../ultilities/responsive';

.header {
 
    display: grid;
    background-color: var(--color-dark);
    position: fixed; 
    width: 100%;
    z-index: 998;
    padding: 0 var(--gap-l);
    

    @include responsive.max(40rem) {
        padding: 0 var(--gap-l);
        position: relative;
    }
   

    &__inner {
     
       display: flex;
       justify-content: space-between; 
       align-items: center; 
       width: 100%;
       padding: 1rem 0 1rem 0 ;
       margin: 1rem ;

    } 

    
    &__logo {
     
       padding-top: 1.5rem;
     
    }
}