@use '../ultilities/responsive';

.menu {
    
    color: var(--color-light);
    justify-content: flex-end;
    position: relative;
    gap: var(--gap-m); 

  
    @include responsive.max(44rem) {
        display: none;
    }






    &__list {
        list-style: none;
        margin: 0;
        padding-right: 2rem;
        display: flex;
        align-items: center;
        gap: 3rem;
        font-family: var(--futura-pt);
        font-size: var(--font-size-3);
        
     
        @include responsive.max(55rem) {
            font-size: var(--font-size-3);
        }

        @include responsive.max(66rem) {
            padding: 0;
            margin: 0;
        }
    }



 &__link {
  color: var(--color-light);

  transition: all 0.2s;

  &:hover {
      color: var(--color-light-200);
  }
 }



}
